<div class="container">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="usernameField" placeholder="Username">
            <label for="usernameField">Username</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailField" placeholder="Email address">
            <label for="emailField">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordField" placeholder="Password">
            <label for="passwordField">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="signupBtn">Sign in</button>
    </form>
</div>